/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
.container{
  width: 70%;
  margin: 20px auto;
}

/* card */
.card{
  display: inline-block;
  width: calc(100%/3);
  padding-left: 5px;
}

.card img{
  width: 100%;
}

.card-image{
  position: relative;
}

.heart{
  height: 30px;
  width: 40px;
  background-color: white;
  text-align: center;
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 1.5em;
}

.container-discount{
  width: 100%;
  position: absolute;
  bottom: 10px;
  font-size: 10px;
}

.discount{
  height: 20px;
  padding: 5px;
  display: inline-block;
  background-color: red
}

.sostenibility{
  height: 20px;
  padding: 5px;
  display: inline-block;
  background-color: green;
}

.card-text{
  width: 100%;
}

.card-text .brand, .price{
  font-size: small;
}

.price .red{
  color: red;
}

/* image animation */
img.hover{
  display: none;
}

.card:hover .hover{
  display: inline-block;
}

.card:hover .default{
  display: none;
}

